<header>
    <a href="/" class = "name"><h1 class="site-title"> {{ title }} </a></h1>
    <div class = setright>
    <input type="text" id="navbar-search-input">
    <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
  </div>
</header>
