<div class="modal-content">
  <span class="close">&times;</span>
  <h2>Items in cart</h2>

  <div class = "itemlist i1" id = "li1">
    <img class="cart-item" src="https://res.cloudinary.com/teepublic/image/private/s--Uc8Kg9bH--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_291/c_crop,g_north_west,h_626,w_470,x_-92,y_-7/g_north_west,u_upload:v1462829024:production:blanks:a59x1cgomgu5lprfjlmi,x_-487,y_-332/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1520171481/production/designs/2423400_0.jpg" />
    <div class = "inside">
                <p>SUPREME Trump T-Shirt</p>
              <p class="p_tag1" style="display:inline" id="one"></p>
              <p class="p_tag1" style="display:inline">x 50 =</p>
              <p class="p_tag1" style="display:inline" id="price1"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtracta">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="adda">Add</button>
            </div>
            </div>

            <div class = "itemlist i2" id = "li2">
            <img class="cart-item" src="https://cdnb.lystit.com/1040/1300/n/photos/gucci/acd11ee9/gucci-Black-Metal-Mix-Wool-Sweater.jpeg" />
            <div class = "inside">
        <p>GUCCI Men's Black Metal Mix Wool Jumper: </p>
              <p class="p_tag1" style="display:inline" id="two"></p>
              <p class="p_tag1" style="display:inline">x 1300 =</p>
              <p class="p_tag1" style="display:inline" id="price2"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtractb">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addb">Add</button>
            </div>
            </div>

            <div class = "itemlist i3" id = "li3">
            <img class="cart-item" src="https://cdn-images.farfetch-contents.com/12/41/63/18/12416318_11308944_480.jpg" />
            <div class = "inside">
              <p>GUCCI Washed T-Shirt with Gucci Logo: </p>
              <p class="p_tag1" style="display:inline" id="three"></p>
              <p class="p_tag1" style="display:inline">x 480 =</p>
              <p class="p_tag1" style="display:inline" id="price3"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtractc">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addc">Add</button>
              </div>
            </div>

            <div class = "itemlist i4" id = "li4">
                <img class="cart-item" src="https://img.babsta.net/cVDmE3N-Fd08nBnsJJ4tHqs2g2o=/fit-in/586x814/3628cfdfce21408bb812685920382a9a" />
                <div class = "inside">
                <p>GUCCI Cote d'Azur Patch Sweatshrt: </p>
              <p class="p_tag1" style="display:inline" id="four"></p>
              <p class="p_tag1" style="display:inline">x 1480 =</p>
              <p class="p_tag1" style="display:inline" id="price4"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtractd">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addd">Add</button>
            </div>
          </div>

            <div class = "itemlist i5" id = "li5">
                <img class="cart-item" src="https://cdn-images.farfetch-contents.com/13/83/40/43/13834043_17150075_300.jpg" />
                <div class = "inside">
                <p>GUCCI Zumi Smooth Leather Sholder Bag: </p>
              <p class="p_tag1" style="display:inline" id="five"></p>
              <p class="p_tag1" style="display:inline">x 1880 =</p>
              <p class="p_tag1" style="display:inline" id="price5"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtracte">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="adde">Add</button>
            </div>
          </div>

            <div class = "itemlist i6" id = "li6">
                <img class="cart-item" src="https://cdn.shopify.com/s/files/1/0472/3857/products/dique_gucci_blk.jpg?v=1537044961" />
                <div class = "inside">
                <p>GUCCI Dique Hoodie: </p>
              <p class="p_tag1" style="display:inline" id="six"></p>
              <p class="p_tag1" style="display:inline">x 790 =</p>
              <p class="p_tag1" style="display:inline" id="price6"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtractf">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addf">Add</button>
            </div>
          </div>

            <div class = "itemlist i7" id = "li7">
                <img class="cart-item" src="https://d3c1jucybpy4ua.cloudfront.net/data/51335/big_picture/gucci-tshirt.jpeg?1484305523" />
                <div class = "inside">
                <p>GUCCI Vintage Classic T-Shirt: </p>
              <p class="p_tag1" style="display:inline" id="seven"></p>
              <p class="p_tag1" style="display:inline">x 30 =</p>
              <p class="p_tag1" style="display:inline" id="price7"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtractg">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addg">Add</button>
            </div>
            </div>

            <div class = "itemlist i8" id = "li8">
                <img class="cart-item" src="https://cdn.shopify.com/s/files/1/1880/5877/products/gucci-dabbing-unicorn-youth-shirts-t-shirt-youth-crewneck-sweatshirt-maroon-xs-3.png?v=1533234743" />
                <div class = "inside">
                <p>GUCCI Dabing Unicorn Youth Shirt: </p>
              <p class="p_tag1" style="display:inline" id="eight"></p>
              <p class="p_tag1" style="display:inline">x 29 =</p>
              <p class="p_tag1" style="display:inline" id="price8"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtracth">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addh">Add</button>
              </div>
            </div>

            <div class = "itemlist i9" id = "li9">
                <img class="cart-item" src="https://dtpmhvbsmffsz.cloudfront.net/posts/2017/11/17/5a0ed4a3f0928278d702abdd/m_5a0ed58a6d64bc9f7902a813.jpg" />
                <div class = "inside">
                <p>GUCCI Vintage Men's Red Shirt: </p>
              <p class="p_tag1" style="display:inline" id="nine"></p>
              <p class="p_tag1" style="display:inline">x 300 =</p>
              <p class="p_tag1" style="display:inline" id="price9"></p>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="subtracti">Delete</button>
              <button class="p_tag1 btn_D" type="button" style="float: right" id="addi">Add</button>
            </div>
            </div>
            <div class = "totalbox">
          <p class="text_total"style="display:inline">Total: $</p>
          <p class="text_total" style="display:inline" id="totalp"></p>
        </div>
</div>
