<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img19/events/fathersday/trafficdrivers/1156909_fd_gw_deesktop_hero_landing_text_3000x1200_2._CB466113671_.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img19/prime/home/gateway/alt/amazon_prime_home_artladies_DesktopTallHero_3000x1200_alt_v2._CB463555725_.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/SMP/VX-3066/VX-3066_SMP_NYNY_FTC_GW-Hero-Desktop-3000x1200-2X._CB458496137_.jpg" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
