body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

h1 {
margin-left: 5px;
}

header {
  width:100%;
  height: auto;
  top:0px;
  height: 80px;
  background-color: #515151;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

a.name {
  text-decoration: none;
  color: white;
}

a.logo:hover,
a.price:hover,
a:hover,
a:focus {
  color: #DFBA69;
}

a.logo,
a.price,
a.prince:visited {
  color: black;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.setright {
  float: right;
}


.navbar-search {

  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  width: 450px;
  height: 29px;
  margin-top: 20px;
  padding: 4px;
  font-size: 20px;
  background-color: white;
  border: 1px solid #b4b4b4;
  border-radius: 30px;
}

#navbar-search-input:focus {
  outline: none;
  background-color:#fff;

}

#navbar-search-button {
  margin-left: -5px;
  font-size: 21px;
  background: none;
  border: none;
  color: #d4d4d4;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #FABE28;
}

#navbar-search-button:focus {
  color: #FABE28;
  outline: none;
}

.web-items {
  margin-top: -200px;
  margin-left: 55px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.error-container {
  margin-top: 200px;
  text-align: center;
}

.items {
  flex: 0 1 28%;
  display: flex;
    position: relative;
  margin: 5px;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #dadada;
  border-radius: 25px;
  background-color: #fff;
}

.icons {
  font-size: 24px;
}


.site-title {
  float: left;
}

.content .price {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}


#list-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: white;
  color: rgb(44, 44, 44);
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

.item {
  margin-top: 15px;
  width: 300px;
  height: 330px;
  border-radius: 15px;
}

.item:hover {
  margin-top: 15px;
  width: 300px;
  height: 330px;
  border-radius: 15px;
  opacity: 0.7;
}

.tag {
  padding-top: 10px;
  display: flex;
  height: 40px;
}

.p_tag {
  width: auto;
  height: 20px;
  background: #DFBA69;
  color: white;
}
.p_tag:hover {
  width: auto;
  height: 20px;
  background: black;
  color: white;
}

#list-button:hover {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: white;
  color: #FABE28;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: auto;
  height: 89vh;
  top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.mySlides::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #eee 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.addcart {
  border: none;
  font-size: 25px;
  background-color: white;
  cursor: pointer;
}

.addcart:hover {
  border: none;
  font-size: 25px;
  background-color: white;
  cursor: pointer;
  color: #FABE28;
}

.itemlist {
  width: 100%;
  height: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9 {
  display: none;
}
.cart-item {
  float:left;
  width: 170px;
  height: 150px;
  border-radius: 15px;
}

.inside {
  width: auto;
  padding-left: 200px;
}

.btn_D {
  border: none;
  background: white;
}

.btn_D:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}