{{> slideshow}}

<br>

<!--End of the slide show-->

<main class="web-items">
  {{#each items}}
    {{> item}}
  {{/each}}
</main>

<button type="button" id="list-button"><i class="fas fa-shopping-cart"></i></button>

<!--pop-up -->
<!-- The Modal -->
<div id="myModal" class="modal">
  {{> modal}}
</div>
